.search_select_box{
  max-width: 400px;
  margin: 80px auto;
}
.search_select_box select{
  width: 100%;
}
.search_select_box button{
  background-color: #080342 !important;
  padding: 15px 25px;
  color: #fff !important;
  font-size: 20px;
}
